html,
body {
    margin: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    
}

ul>li {
  padding: 20px;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Fraunces;
    
}
ul>li>a {
  text-decoration: none;
  color: rgb(227, 54, 54);
}
.logo {
    float: left;
    width: 14vw;
    height: 22vh;
    position: relative;
    margin-left: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 180px;
  color: rgb(227, 54, 54);
  font-family: Fraunces;
}

/* calendar */
.calendars{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
background-color: rgb(242, 176, 176);
height: 1000px;
margin-top: 150px;
margin-bottom: 200px;
}

.footerContainer>ul {
  display: flex;
  justify-content: flex-start;
  position: relative;
  color: white;
}
.footerContainer>ul>li {
  margin-top: 105px;
}

/* wave */
.custom-shape-divider-bottom-1653164264 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: 10px;
}

.custom-shape-divider-bottom-1653164264 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 177px;
}

.custom-shape-divider-bottom-1653164264 .shape-fill {
  fill: rgb(223, 10, 10);
}

/* Media Queuries */
@media (max-width: 1119px){
   .calendars{
       flex-direction: column;
   }
   .calendar{
        width: 100vw;
        height: auto;
    
    }

}

