body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-size: 18px;
    background: url(unity.jpg);
    background-position: center center;
    background-size: cover;
}




/* Login Form  */
.container{
    width:400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #ffffff;
}

.container,
.form_input,
.form_button{
    font: 500 1rem 'Verdana', sans-serif;
}

.form-hidden{
    display: none;
} /*  This allows me to hide the form either the Login Page or Create an Account  */

.form > *:first-child{
    margin-top: 0;
}


.form > *:last-child{
    margin-bottom: 0;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form_message-success{
    color: #4bb544;
}

.form_message-error{
    color: #cc3333;
}

.form_input-group{
    margin-bottom: 1rem;
}

.form_input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}
.form_input:focus {
    border: 1.5px solid #009579;
    background: #ffffff;
}
.form_input--error{
    color: #cc3333;
    border-color: #cc3333;
}

.form_input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #cc3333;
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #ef217e;
}
.form_button:hover{
    background: #e63886;
}

.form_button:active{
    transform: scale(.98);
}

.form_link{
    color: #252c6a;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover{
    text-decoration: underline;
}

/* Login Form */



/* Footer Curve Code */
.custom-shape-divider-bottom-1653166623 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1653166623 svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1653166623 .shape-fill {
    fill: #e63886;
}