html,
body {
    background-color: white;
    margin-top: 0;
}

/* nav bar */
ul {
    display: flex;
    justify-content: flex-end;
}

ul>li {
    padding: 20px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Fraunces;
    font-size: 18px;
}

/* logo */
.logo {
    float: left;
    width: 14vw;
    height: 22vh;
    position: relative;
    margin-left: 20px;
}

/* title { */
h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
    color: #f45337;
    font-family: Fraunces;
}

/* resources grid */
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 50px;
}

@media only screen and (max-width: 900px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}

a {
    background: transparent;
    padding-bottom: 2px;
    text-decoration: none;
    color: black;
}

h3 {
    text-align: center;
    color: white;
    font-family: Fraunces;
    font-size: 28px;
}

.box {
    padding: 50px;
    margin: 10px;
    color: black;
    font-size: 24px;
    display: block;
    background: #B4E197;
    font-family: Verdana, sans-serif;
}

.button:hover {
    background: transparent;
    color: white;
}

/* wave */
section {
    margin-top: 80px;
    position: relative;
}

/* socail media links */
.footerContainer>ul {
    display: flex;
    justify-content: flex-start;
    position: relative;
    color: white;
}

.footerContainer>ul>li {
    margin-top: 105px;
}

/* wave */
.custom-shape-divider-bottom-1653164264 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1653164264 svg {
    position: relative;
    display: block;
    width: calc(151% + 1.3px);
    height: 177px;
}

.custom-shape-divider-bottom-1653164264 .shape-fill {
    fill: rgb(84, 163, 84);
}